html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}
.home {
    flex: 1;  
    padding-top: 30px;
}
.main_slide {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: black;
    height: 360px;
    border-radius: 20px;
}

.main_slide div:nth-child(2) {
    width: 400px;
    height: 450px;
    flex: 1;
    display: flex;
    padding-right: 50px;
    padding-top: 10px;
    background-position: 0;
}

.main_slide div:nth-child(1) {
    padding-top: 60px;
    padding-left: 30px;
    flex: 1;
    align-content: center;
}
.main_slide div:nth-child(1) h1{
    color: white;
    font-size: 50px;
}
.main_slide div:nth-child(1) span {
    color: rgb(68, 65, 64);
    font-size: 55px;
    text-decoration-color: rgba(44, 44, 42, 0.767);
}
.menu{
    height: auto;
    text-align: center;
}
.menu h1{
    padding: 20px 0 40px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}
.section{
    display: inline-block;
    text-align: left; 
    box-sizing: border-box;
    width: calc(25% - 20px); 
    margin: 0 10px;
    vertical-align: top;
}
.section h2{
    margin-bottom: 10px;
}
.section img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.section a {
    text-decoration: none;
    color: inherit;
}
.section:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}
.red_btn {
    cursor: pointer;
    margin-top: 20px;
    width: 160px;
    font-weight: bold;
    color: aliceblue;
    line-height: 50px;
    background-color: rgb(245, 101, 34);
    border-radius: 5px;
    border: 1px solid rgb(245, 101, 34);
    box-shadow: rgb(245, 120, 69);
    transition: all 0.2s;

}

.red_btn:hover {
    background-color: white;
    box-shadow: 0 2px 15px rgb(240, 120, 69);
    border: 1px solid rgb(245, 101, 34);
    color: rgb(245, 101, 34);
}
.main_slide2 {
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
