.content {
    background-color: rgb(219, 227, 253);
    padding: 0 7vw;
    flex: 1;
}

.intro .intro-topic h1 {

    color: rgb(90, 9, 20);
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    padding-top: 50px;


}



table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
    margin-left: 70px;
}

table th,
table td {
    border: 1px solid rgb(123, 195, 243);
    padding: 8px;
    text-align: left;
}

table th {
    background-color: rgb(123, 195, 243);
}


button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;

}

.button:hover {
    background-color: #c21b0c;
}