html,
body {

    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}
.home {
    flex: 1;  
    padding-top: 30px;
}
.main_slide {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: black;
    height: 360px;
    border-radius: 20px;
}

.main_slide div:nth-child(2) {
    width: 400px;
    height: 420px;
    flex: 1;
    display: flex;
    padding-right: 50px;
    padding-top: 45px;
    background-position: 0;
}

.main_slide div:nth-child(1) {
    padding-top: 60px;
    padding-left: 30px;
    flex: 1;
    align-content: center;
}
.main_slide div:nth-child(1) h1{
    color: white;
    font-size: 50px;
}
.main_slide div:nth-child(1) span {
    color: rgb(68, 65, 64);
    font-size: 55px;
    text-decoration-color: rgba(44, 44, 42, 0.767);
}
.menu{
    height: auto;
    text-align: center;
    align-items:center ;
    padding-top: 50px;
}
.menu h1{
    padding: 20px 0 40px;
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-align: center;
}
.section{
    display: inline-block;
    text-align: center; 
    align-items: center;
    box-sizing:content-box;
    width: calc(23% - 3px); 

}
.section h2{
    margin-bottom: 5px;
    position:fixed;
    align-items:center ;
    transform: translate(-50%, 50%);
    padding-top: 30px;
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
    margin-left: 180px;
}
.section img{
    width: 50%;
    height: 300px;
    border-radius: 20px;
    
}

.section:hover {
    transform: translateY(-8px);
    transition: transform 0.3s ease;
}
.extra{
    padding-top: 40px;
    height: auto;
    flex: 1;

}
.extra img{
    height: 400px;
    align-items: center;
    width: 100%;
}
.extra h2{
    font-size: 50px;
    color: black;
    font-weight: bold;
    position: relative;
    padding-top: 40px;
text-align: center;
    
}
.extra h2 span{
    font-size: 55px;
    color: rgb(83, 80, 80);
    font-weight: bolder;
    
}
.extra p{
    padding: 40px 70px 20px 70px;
    align-items: center;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;

}
.red_btn {
    cursor: pointer;
    margin-top: 20px;
    width: 160px;
    font-weight: bold;
    color: aliceblue;
    line-height: 50px;
    background-color: rgb(245, 101, 34);
    border-radius: 5px;
    border: 1px solid rgb(245, 101, 34);
    box-shadow: rgb(245, 120, 69);
    transition: all 0.2s;

}

.red_btn:hover {
    background-color: white;
    box-shadow: 0 2px 15px rgb(240, 120, 69);
    border: 1px solid rgb(245, 101, 34);
    color: rgb(245, 101, 34);
}
.main_slide2 {
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}