
.choice {
    text-align: center;
    width: 80%;
    margin: 50px auto;
    padding: 10px;
   
}

.choice p {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.choice .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.items .display-item {
    width: 250px;
    margin: 10px;
    text-align: center;
    border: 1px solid rgb(78, 78, 78);
    padding: 10px;
    box-sizing: border-box;
}


.display-item img {
    width: 100%;
    height: 200px;
}

.display-item h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.display-item h4 {
    font-size: 20px;
    color: #00A000;
    margin: 10px 0;
}


.display-item button {
    padding: 5px 10px;
    background-color:black;
    color: white;
    border: none;
    cursor: pointer;
}

.display-item button:hover {
    background-color: #70591a;
}