*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(../../images/h4.jpg);
  background-size: cover;
}

.forms {
  width: 600px;
  margin: 0 auto;
  padding: 50px 0 50px 0;


}
.form-details {
  text-align: center;
  margin-bottom: 20px;
}
.form-details h2 {
  font-size: 36px;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 2px;
  font-weight: 100;
  color: white;

}

.form-details p {
  float: left;
  font-size: 15px;
  padding : 50px 0 50px 10px;
  align-items: center;

}

.form-content {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.inputs {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  color: black;
  padding: 8px 45px 8px 20px;

}

.inputs input {
  border-radius: 20px;
  width: 500px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.inputs label {
  font-size: 15px;
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  font-weight: bold;
}

.forgot-pass {
  display: block;
  text-align: right;
  margin-bottom: 10px;
  color: rgb(75, 86, 94);
  text-decoration: none;
}

.forgot-pass:hover {
  text-decoration: underline;
}

.form-content button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}

.form-content button:hover {
  background-color: rgb(114, 105, 105);
  color: black;
}

.link {
  text-align: center;
  margin-top: 20px;
}

.link a {
  color: rgb(59, 75, 83);
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
  color: black;
}

.top-bar-links ul li a:hover {
  text-decoration: underline;
  color: black;
}