
.content {
    background-color: white;
    padding: 0 7vw;
}


div.requests-container {
    background-color: #8b8989;
    padding: 40px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: fit-content;
    text-align: center;
    margin: 50px auto;
    text-align: left;
}

div.requests-container h2 {
    margin-bottom: 20px;
}

div.requests-container div.request-items {
    text-align: left;
}



.requests-container .total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
}

.requests-container button {
    padding: 15px 30px;
    font-size: 18px;
    color: #968f8f;
}